<h1>Word Game</h1>

<p> Can you find the longest word within the grid? </p>

<p> Here is your grid:<p>
<%= @grid.join(" ") %>



<form action="/score">
  <label for="answer">Type your answer</label>
  <input type="text" id="answer" name="answer" placeholder="answer">
  <input type="hidden" id="grid" name="grid" value = "<%= @grid %>" >
  <input type="hidden" id="start_time" name="start_time" value= "<%= @start_time %>">
  <input type="submit" value="Go!">
</form>
